*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 62.5%;
    border: 1px solid red;
}

body{
    font-size: 5rem;
}

h1{
    font-size: 3.5rem;
    padding: 2%;
    text-align: center;
}
h2{
    font-size: 2.2rem;
    text-align: center;

}
p{
    font-size: 1.8rem;
    text-align: center;
}

header{
    background-color: #9fa2b2;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;

}

.links{
    width: 60%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;

}



.links a{
    margin:3%;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

a:hover{
    color: whitesmoke;
}

i{
    font-size: 5rem;
    color: #f5f5f5;
}

.logo{
    width: 20%;
    margin-left: 3%;
    margin: 3% 0;
}

.sect1{
    background-color: #2e4756;
    color: whitesmoke;
    display: flex;
    padding: 1%;
}

.first_img{
    width: 50%;
}

.title{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sect2{
    background-color: #16262e;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 20%
}

.icon{
    width: 25%;
}

.point{
    width: 75%;
}
.sect3{
    background-color: #2e4756;
    color: whitesmoke;
   
    padding: 1% 15%;
}

.callAction{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 30%;
    padding: 1.5%;
    margin: 3%
}

footer{
    background-color: #dbc2cf;
    display: flex;
    justify-content: center;
    padding: 3% 20%;
}
.social{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* tablet */
@media(max-width:800px){

}

/* smartphone */
@media(max-width:500px){
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sect1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sect2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}