*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-size: 62.5%;
    /* border: 1px solid red; */
}

body{
    font-size: 5rem;
    font-family: 'Alata', sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 5rem;
    padding: 2%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
h2{
    font-size: 2.2rem;
    text-align: center;

}

h3{
    font-size: 2rem;
}
p{
    font-size: 1.8rem;
    text-align: center;
}

header{
    background-color: #9fa2b2;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    width: 75%;
    margin-right: 0%;
    display: flex;
    justify-content: space-between;
    color: #3b3b38;

}



.links a{
    width: 25%;
    margin:2%;
    font-size: 2rem;
    text-align: center;
    line-height: 2;
    border: 3px solid #3b3b38;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

a:hover{
    background-color: whitesmoke;
    color: #3b3b38;
    border-radius: 10px;
}

.logo{
    width: 10%;
    margin: 1%;
    background-image: url('imaage/sleep.svg');
    margin-left: 8%;
}

/*this is section 1 "intro" id = #tired*/
.sect1{
    background-color: #2e4756;
    color: whitesmoke;
    display: flex;
    padding: 1%;
}

.first_img{
    width: 50%;
}

.title{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* this is section 2 "icons & points" id = #sleep*/
.sect2{
    background-color: #16262e;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    padding: 1% 10%
}

.filter_white{
    filter: invert(100%) sepia(1%) saturate(49%) hue-rotate(206deg) brightness(116%) contrast(92%);
    border: none;
}

.filter_smoke{
    filter: invert(18%) sepia(12%) saturate(222%) hue-rotate(21deg) brightness(93%) contrast(82%);
    border: none;
}

.sect2 h2{
    line-height: 2;
    margin-top: 5%;
}

.sect2 p{
    margin: 5% 15%;
}

.icon{
    width: 25%;
    padding: 2%;
}

.point{
    width: 75%;
    padding-bottom: 3%;
    border-block-end: 1px solid whitesmoke;
}
.sect3{
    background-color: #2e4756;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 10%;
}

.callAction{
    width: 70%;
}

.app_button{
    background-color: #9fa2b2;
    width: 25%;
    margin:2%;
    font-size: 2rem;
    text-align: center;
    line-height: normal;
    border: 3px solid #3b3b38;
    border-radius: 10px;
    padding: 1%;
}

.app_button a{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

.app_button:hover{
    background-color: whitesmoke;
}

footer{
    background-color: #dbc2cf;
    display: flex;
    justify-content: center;
    padding: 3% 20%;
}
.social{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a{
    width: 20%;
}

.social a:hover {
    border-radius: 50%;
}

.learn_more{
    background-color: #2e4756;

    color: whitesmoke;
    padding: 3%
}

.team_descript{
    padding: 0 10%;
    color: whitesmoke;
    background-color: #16262e;

}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #16262e;
    color: whitesmoke;   
    padding: 2% 0; 
}

.team{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 2% 4% 2%;
    padding: 1%;
}

.team h2{
    line-height: normal;
    font-size: 2.5rem;
}

.team img{
    border-radius: 50%;
    width: 30%;
    margin: 2% 0;
}

.team a{
        text-decoration: none;
        color: whitesmoke;
        padding: 1%;
    }

.team a:hover{
    color: #3b3b38;
}

/* 1208 width */
@media(max-width:1024px){
    .links a{
        font-size: 1.8rem;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1%;
    }
    .sect2{
        align-items: center;
    }
}

/* tablet */
@media(max-width:800px){
    .sect3{
        padding: 1% 9%;
    }  
    .links a{
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .callAction{
        width: 45%;
    }
}

/* smartphone */
@media(max-width:500px){
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin: 3% 0;
        width: 25%;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1%;
    }

    .links a{
        width: 75%;
    }

    .sect1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   .first_img{
       margin-top: 3%;
   }
    .title{
        width: 75%;
        margin-bottom: 3%;
    }
    .sect2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1% 0;
    }
    .sect2 .icon{
        margin-top: 5%;
    }
    
    .sect2 p{
        margin: 2% 10%;
    }
    .point{
        width: 100%;
    }
    .social{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1%;
    }
    footer{
        padding: 3% 10%;
    }

    .learn_more h1{
        font-size: 4.5rem;
    }

    .about{
      
        display: flex;
        flex-wrap: column;
        justify-content: space-evenly;
        align-items: center;
          
        padding: 2% 0; 
    }

    .about p{
        width: 75%;
    }
    .team{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team p{
        width: 80%;
    }

    .app_button{
        width: 75%;
    }
    .callAction{
        width: 70%;
    }
}